body {
  margin: 0 auto;
  max-width: 700px;
  background: #fff;
  color: #4f5759;
  font: 100% 'PT Sans', 'Arial', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Jhenghei', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'STXihei', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

li {
  line-height: 1.5;
}

a,
a:active {
  color: #4f5759;
}

a:visited {
  color: #282c2e;
}

a:hover {
  color: #b0bdc0;
}

p {
  text-indent: 2em;
  line-height: 1.5;
}

pre {
  overflow: scroll;
}

article {
  margin-top: 10px;
  padding: 16px;
}

article > header {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

article > p {
  font-size: 14px;
  text-align: right;
  color: #737778;
}

article h1 {
  font-size: 18px;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  font-size: 16px;
}

figure {
  text-align: center;
}

svg {
  max-width: 100%;
}
