body {
  margin: 0 auto;
  max-width: 700px;
  background: #fff;
  color: #4f5759;
  font: 100% 'PT Sans', 'Arial', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Jhenghei', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'STXihei', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

li {
  line-height: 1.5;
}

a,
a:active {
  color: #4f5759;
}

a:visited {
  color: #282c2e;
}

a:hover {
  color: #b0bdc0;
}

p {
  margin: 0;
  line-height: 1.5;
  color: #737778;
}

pre {
  overflow: scroll;
}

article {
  padding: 16px;
}

header > h1 {
  text-align: center;
}

header > p {
  line-height: 2;
}

aside {
  background: #e0e0e0;
  border-radius: .5em;
  padding: .5em;
}

aside > ul {
  margin: 0;
  padding: 0;
}

aside li {
  line-height: 2;
}

article > p {
  text-indent: 2em;
  font-size: 14px;
  text-align: right;
}

article h1 {
  font-size: 18px;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  font-size: 16px;
}

figure {
  text-align: center;
  margin: 1em;
}

svg {
  max-width: 100%;
  height: auto;
}
