/* reset */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* 全局样式 */
body {
  margin: 0 auto;
  max-width: 690px;
  background: WHITE;
  color: BLACK;
  font: 100% 'PT Sans', 'Arial', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Jhenghei', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'STXihei', sans-serif;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-weight: 500;
}

h5,
h6 {
  font-size: 14px;
}

ul {
  list-style: none;
}

li {
  line-height: 1.5;
}

a,
a:active {
  color: CADETBLUE;
}

a:visited {
  color: CADETBLUE;
}

a:hover {
  color: STEELBLUE;
}

code {
  font-family: Monaco, Menlo, Consolas, 'Courier New', Courier, monospace;
  background-color: BISQUE;
  border-radius: .3rem;
  padding: 0 .4rem;
  margin: 0 .2rem;
}

pre {
  border-radius: .5rem;
  background-color: DARKSLATEGRAY;
  color: GAINSBORO;
  font-size: 0;
  overflow-x: scroll;
  padding: 0 1rem;
  margin: 1rem 0;
}

pre > code {
  margin: 0;
  padding: 0;
  background-color: initial;
  font-size: 1rem;
}

/* 博客文章 */
article {
  padding: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

/* 博客标题 */
header > h1 {
  text-align: center;
  margin-top: 1rem;
}

/* 作者 */
header > p {
  line-height: 2;
}

/* 段落 */
section {
  margin-bottom: 1rem;
}

/* 段落正文 */
p {
  margin: 0 0 .5rem;
  text-indent: 1rem;
  line-height: 1.5;
}

aside {
  background: #e0e0e0;
  border-radius: .5rem;
  padding: 1rem;
}

aside > ul {
  margin: 0;
  padding: 0;
}

aside li {
  line-height: 2;
}

article > p {
  text-indent: 2rem;
  text-align: right;
}

figure {
  text-align: center;
  margin: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

.circle {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.success,
.primary,
.warn {
  vertical-align: middle;
  margin-right: 10px;
}
.success {
  background-color: #7ED321;
}

.primary {
  background-color: #4A90E2;
}

.warn {
  background-color: #F5A623;
}

.footer {
  margin-top: 20px;
  background-color: GAINSBORO;
  padding: 1rem;
  border-radius: .5rem;
}

.footer .feed-qrcode {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 1rem;
}

.footer .weibo-link {
  margin: 0 6px;
}

.footer .weibo-icon {
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  margin-right: 4px;
}

.author {
  text-align: right;
}